/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body,
html {
    height: 100%;
    font-family: "Poppins", sans-serif;
    background-image: url("3430013.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
}
  
/* Top Navigation Centered */
.top-nav {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
  
.top-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
  
.top-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    transition: color 0.3s;
    padding: 8px 12px;
    border-radius: 5px;
}
  
.top-nav ul li a:hover {
    color: #c8c8c8;
}
  
.top-nav ul li a i {
    margin-right: 8px;
}
  
/* Active Navigation Link */
.top-nav ul li a.active {
    background-color: black;
}
  
/* Main content styling */
.main-content {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
  
.title span {
    color: #f7d5d5;
}
  
.input-container {
    display: flex;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    margin: 15px 0;
}
  
.input-icon {
    font-size: 1.5rem;
    color: #ff0000;
    margin: 0 10px;
}
  
#url-input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 1rem;
}
  
#convert-btn {
    background-color: #114c73;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
  
#convert-btn:hover {
    background-color: #553c76;
}
  
/* Transparent Selectors */
.transparent-select {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(218, 212, 212, 0.6);
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: #9cd0e5;
    backdrop-filter: blur(5px);
    cursor: pointer;
    outline: none;
}
  
.transparent-select option {
    color: #000; /* options clearly readable */
}
  
.platform-select-container {
    margin-top: 20px;
}
